@import '../../assets/sass/base.sass';

.header__container
  background: normal
  @include breakpoint-down(w768)
    height: 17rem

.header__content
  color: black

.header__container--fixed
  position: fixed
  left: 0
  top: 0
  z-index: 20
  padding-bottom: 10rem
  width: 100%
  height: 100%
  background-size: cover !important
  background-position: center center

  .header__info--sticked
    position: relative
    &::before
      content: none

  @include breakpoint-down(w768)
    padding-bottom: 0

.header__burger-wrap
  height: auto

.header__burger-menu
  width: 2.5rem
  height: 2.2rem
  position: relative
  transform: rotate(0deg)
  transition: .5s ease-in-out
  cursor: pointer
  @include breakpoint-down(w480)
    background-color: transparent

  &.__white
    background-color: transparent
    span
      background-color: white

  span
    display: block
    position: absolute
    height: 4px
    width: 100%
    border-radius: .9rem
    opacity: 1
    left: 0
    transform: rotate(0deg)
    transition: .25s ease-in-out


.header__burger-menu
  span
    &:nth-child(1)
      top: 0

    &:nth-child(2),
    &:nth-child(3)
      top: .9rem
      width: 60%

    &:nth-child(4)
      top: 1.8rem

  &.open
    span
      &:nth-child(1)
        top: .9rem
        width: 0%
        left: 50%

      &:nth-child(2)
        transform: rotate(45deg)
        width: 100%

      &:nth-child(3)
        transform: rotate(-45deg)
        width: 100%

      &:nth-child(4)
        top: .9rem
        width: 0%
        left: 50%

.header__logo
  margin: 0 4rem
  display: flex
  max-width: 9.6rem
  align-items: center

  @include breakpoint-down(w480)
    display: none

  img
    max-width: 100%

    @include breakpoint-down(w480)
      margin: 0 2rem

.header__logo--mobile
  display: none

  @include breakpoint-down(w480)
    display: block
    position: absolute
    top: 9.5rem
    left: 50%
    margin: 0
    max-width: 15rem
    z-index: 1
    transform: translate(-50%, 0)

.header__burger-wrap
  width: 5.7rem
  display: flex
  align-items: center
  justify-content: center

.header__menu
  padding-left: 9.5rem
  padding-top: 2rem
  max-height: calc(100% - 14rem)
  display: inline-block

  @include breakpoint-down(w768)
    padding-left: 0
    max-height: 100%
    display: block
    text-align: center

  @include breakpoint-down(w480)
    padding-top: 5rem

.header__menu-nav
  margin-bottom: 2rem
  font-size: 2.6rem
  font-weight: bold
  color: white
  cursor: pointer

  @include breakpoint-downH(500px)
    margin-bottom: 0.5vh

  @include breakpoint-downH(550px)
    margin-bottom: 1.5vh

  &:hover
    color: denim

.header__info,
.header__nav
  position: relative
  display: flex
  flex-flow: row nowrap
  align-items: stretch

  @include breakpoint-down(w480)
    flex-flow: row wrap
    justify-content: space-between

.header__nav
  padding: 1rem 0
  justify-content: space-between
  align-items: center
  @include breakpoint-down(w991)
    position: relative
    z-index: 2
    padding: 1rem 0

.header__info
  position: relative
  transition: all .2s ease
  min-height: 7.2rem

.header__locale
  position: relative
  font-size: 1.4rem
  transition: all .2s ease

  @include breakpoint-down(w480)
    margin-left: 0

.header__locale-selected
  width: 4rem
  height: 4rem
  line-height: 4rem
  text-align: center
  cursor: pointer
  position: relative
  font-size: 1.5rem
  font-weight: bold

.header__locale-list
  padding-left: 2.5rem
  list-style-type: none
  &-item
    margin-bottom: 1rem
    a
      cursor: pointer
      font-size: 1.5rem
      color: #130073
      font-weight: bold
      text-decoration: none
      &.router-link-active
        color: white

.header__locale-wrap
  position: absolute
  right: 100%
  padding-top: 1rem

  width: 150px
  height: 100vh

  transition: all .2s ease

  z-index: 3

.header__locale--active
  transform: translateX(149px)

.header__locale-wrap--active
  transform: translateX(150px)

.header__info--sticked
  position: fixed
  width: 100vw
  top: 0
  z-index: 99

  &::before
    content: ''
    position: absolute
    width: 100%
    height: 100%
    background-color: #03216a
    z-index: -1


.header__share
  display: flex
  align-items: center
  position: absolute
  left: 0
  padding-left: 10rem
  width: 100%
  bottom: 3rem

  @include breakpoint-down(w768)
    padding-top: 2rem
    padding-left: 2rem
    flex-flow: row wrap

  @include breakpoint-down(w480)
    padding-left: 0
    padding-top: 5rem


.header__share-title
  font-size: 1.6rem
  font-width: bold
  color: white
  padding-right: 2rem

  @include breakpoint-down(w768)
    width: 100%
    text-align: center
    margin-bottom: 2rem


.header__socials
  @include breakpoint-down(w768)
    width: 100%
    padding-bottom: 2rem
    text-align: center
  .white
    margin: 0 2rem
    @include breakpoint-down(w768)
      text-align: center
      margin: 0 1rem
    &:hover
      opacity: 1

.header__btns
  padding-right: calc((100vw - 1200px)/2 + 2rem)
  @include breakpoint-down(w1200)
    padding-right: 2rem
