@import "~slick-carousel/slick/slick.scss";

.slider__container
  position: relative
  display: block
  width: 100%
  max-width: 100%
  padding: 0
  margin: 0

  // padding: 2rem
  // padding-right: 4rem
  // background-color tangaroa

  // +below(w480)
  //   width: calc(100% - 7.15rem)
  //   padding: 2rem 1rem
  //   padding-left: 0

  .slick-arrow
    background-color: transparent
    color: transparent
    &:hover
      opacity: 0.8

    &:active
      opacity: 0.6

    &.slick-prev
      display: none !important

    &.slick-next
      position: absolute
      right: .5rem
      top: 0
      bottom: 0
      margin: auto
      width: 20px
      height: 20px
      padding: 0
      border: 4px solid transparent
      border-top-color: $secondary
      border-right-color: $secondary
      transform: rotate(45deg)
      &:focus
        outline: none 
      // +below(w480)
      //   width: 15px
      //   height: 15px
      //   right: 0.5rem
      //   border-width: 3px

.currency__change
  &.down
    color: red
  &.up
    color: green

.currency__status
  position: relative
  top: 0
  display: inline-block
  margin: 0 5px
  width: 0
  height: 0
  padding: 0
  border: 8px solid transparent
  &.up
    border-bottom-color: green
    // sprite($price_up)
  &.down
    top: 7px
    border-top-color: red