@import "~bootstrap/scss/functions"
@import "~bootstrap/scss/variables"
@import "~bootstrap/scss/mixins"

$scroll_down_arrow_color: $secondary!default

.section__container
  position: relative

.section__container--fullheight
  min-height: 100vh

.section__label
  position: absolute
  z-index: 2
  right: calc(100% - 1rem)
  top: 4rem
  transform: rotate(-90deg)
  transform-origin: right top
  white-space: nowrap
  @include media-breakpoint-down(md)
    display: none

.scrolldown
  position: absolute
  bottom: 1rem
  left: 0
  right: 0
  margin: auto
  width: 1rem
  height: 1rem
  border: 3px solid transparent
  transform: rotate(45deg)
  border-bottom-color: $scroll_down_arrow_color
  border-right-color: $scroll_down_arrow_color
  cursor: pointer
