@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$footer-logo: $secondary!default
.footer__logo
  svg
    width: 12rem
    height: 4rem
    fill: $footer-logo