@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$footer-logo: $secondary!default
.footer__logo
  svg
    height: 3rem
    fill: $footer-logo